# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/compiler.xml
.idea/copyright/
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/workspace.xml
uiDesigner.xml
out
